spring:
  application:
    name: newsdigest

  profiles:
    active: local

  # MySQL Driver configs
  datasource:
    url: jdbc:mysql://localhost:3306/newsdigest
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  # JPA configs
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
